<header class="header-container">
    <h2>Homework-9-TANGHuyming</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/api/oil-prices">Oil Prices</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>